body {
  margin: 0px;
}

#container {
  width: 1000px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
div#choose_lep {
  float: left;
  width: 500px;
  min-height: 800px;
}
div#view_performance {
  float: left;
  width: 500px;
  min-height: 800px;
}


.key_line div {
  font: 15px 'open_sans-regular', Arial, sans-serif;
  line-height: 21px;
  fill: #777;
}

text {
  font: 15px 'open_sans-regular', Arial, sans-serif;
  line-height: 21px;
  fill: #777;
}

p,li,dd,dt {
  font: 22px 'open_sans-regular', Arial, sans-serif;
  line-height: 30px;
  color: #777;
}

dt {
  font-weight:bold;
}

h1 {
  font: 40px 'oswald-regular', Arial, sans-serif;
  line-height: 56px;
  color: #333;
}

h2 {
  font: 20px 'oswald-regular', Arial, sans-serif;
  line-height: 28px;
  min-height: 56px;
  color: #666;
}

section {
  display: inline-block;
  margin-bottom: 64px;
}

path {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
}

.bar {
  fill: #33C;
}

.background_bar {
  fill: #AAF;
}

.lep_shape {
  stroke: white;
  stroke-width: 1px;
  opacity: 0.5;
  fill: #66C;
}

.dl-horizontal dt {
  float: left;
  width: 280px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  margin-left: 300px;
}

.dl-horizontal dd:before,
.dl-horizontal dd:after {
  display: table;
  content: " ";
}

.dl-horizontal dd:after {
  clear: both;
}

.dl-horizontal dd:before,
.dl-horizontal dd:after {
  display: table;
  content: " ";
}

.dl-horizontal dd:after {
  clear: both;
}



footer {
  margin: 0px;
  border-top: 1px solid #e5e5e5;
  background-color: whiteSmoke;
}

#blurb{
  max-width: 1200px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
